<div >
    <div style="display:flex; flex-wrap: wrap">
        <div ng-repeat="(letter, literal) in $ctrl.literals" class="section" >
            <b>Literal:</b><span class="pull-right"><b>{{letter}}</b>&nbsp;<a href ng-click="$ctrl.deleteLiteral(letter)">-</a></span>
            <literal ng-click="$ctrl.setLiteral(letter, literal)" literal="literal" keys="$ctrl.keys"></literal>
        </div>
    </div>
    <div class="section">
        <div><a href ng-click="$ctrl.isUncollapsed = !$ctrl.isUncollapsed"><b>New Constraint</b></a></div>

        <div uib-collapse="!$ctrl.isUncollapsed">
            <label class="control-label" for="literal-letter">Letter</label>
            <input class="form-control" type="text" id="literal-letter" ng-model="$ctrl.letter">

            <label class="control-label" for="literal-key">Key</label>

            <key keys="$ctrl.keys" ng-model="$ctrl.key" for-id="'literal-key'"></key>

            <label class="control-label" for="literal-type">Type</label>
            <select class="form-control" id="literal-type"
                    ng-model="$ctrl.type"
            >
                <option>equals</option>
                <option>present</option>
                <option>date</option>
                <option>regex</option>
            </select>

            <label class="control-label" for="literal-args">Arguments</label>

            <input class="form-control" type="text" id="literal-args" ng-model="$ctrl.args">

            <button class="btn btn-default" ng-click="$ctrl.addLiteral()">Set Constraint</button>
        </div>
    </div>

</div>
