<span ng-repeat="segment in $ctrl.segments" >
    <span class="token"
          ng-click="$ctrl.selectSegment(segment)"
          ng-class="{underline:$ctrl.isSelected(segment)}"
    >
        {{segment.text}}
    </span>
    <span class="span span-end"
          ng-repeat="end in segment.ends"
          style="color:{{end.color}}"
          ng-click="$ctrl.changeEnd(end)"
          uib-tooltip="{{end.span._text}}"
    >
        ]
    </span>
    <span class="span span-begin"
          ng-repeat="begin in segment.begins"
          style="color:{{begin.color}}"
          ng-click="$ctrl.changeBegin(begin)"
          uib-tooltip="{{begin.span._text}}"
    >
        [
    </span>
</span>
