<div>
    <div ng-repeat="(letter, literal) in $ctrl.literals">
        <span>{{letter}}</span>
        <literal ng-click="$ctrl.setLiteral(letter, literal)" literal="literal" keys="$ctrl.keys"></literal>
    </div>

    <label class="col-sm-12 control-label" for="literal-letter">Letter</label>
    <input class="form-control" type="text" id="literal-letter" ng-model="$ctrl.letter">

    <label class="col-sm-12 control-label" for="literal-key">Key</label>
    <select class="form-control" id="literal-key"
            ng-options="key as id for (id, key) in $ctrl.keys track by (key.namespace + key.name)"
            ng-model="$ctrl.key"
    ></select>

    <!--<filter key="$ctrl.key"></filter>-->

    <label class="col-sm-12 control-label" for="literal-type">Type</label>
    <select class="form-control" id="literal-type"
            ng-model="$ctrl.type"
    >
        <option>equals</option>
        <option>present</option>
        <option>date</option>
    </select>

    <label class="col-sm-12 control-label" for="literal-args">Arguments</label>
    <input class="form-control" type="text" id="literal-args"
           ng-model="$ctrl.args">


    <button class="btn btn-default" ng-click="$ctrl.addLiteral()">Set Literal</button>

</div>
