
<div>
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-3">-->
<!--                <button ng-click="resetConfig()" class="btn btn-default">Reset Config</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-3">-->
<!--                <span>From</span>-->
<!--                <p class="input-group">-->
<!--                    <input type="text"-->
<!--                           class="form-control"-->
<!--                           uib-datepicker-popup-->
<!--                           ng-model="config.from"-->
<!--                           is-open="fromOpen"-->
<!--                           datepicker-options="fromDateOptions"-->
<!--                           ng-required="true"-->
<!--                           close-text="Close"  />-->
<!--                    <span class="input-group-btn">-->
<!--                        <button type="button"-->
<!--                                class="btn btn-default"-->
<!--                                ng-click="fromOpen = true;">-->
<!--                            <i class="glyphicon glyphicon-calendar"></i></button>-->
<!--                    </span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <span>To</span>-->
<!--                <p class="input-group">-->
<!--                    <input type="text"-->
<!--                           class="form-control"-->
<!--                           uib-datepicker-popup-->
<!--                           ng-model="config.to"-->
<!--                           is-open="toOpen"-->
<!--                           datepicker-options="toDateOptions"-->
<!--                           ng-required="true"-->
<!--                           close-text="Close" />-->
<!--                    <span class="input-group-btn">-->
<!--                        <button type="button"-->
<!--                                class="btn btn-default"-->
<!--                                ng-click="toOpen = true;">-->
<!--                            <i class="glyphicon glyphicon-calendar"></i></button>-->
<!--                    </span>-->
<!--                </p>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <span class="">Heatmap</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-2">-->
<!--                <span>Intensity</span>-->
<!--                <span>-->
<!--                    <input ng-model="config.heatmap.intensity" step="1" type="number">-->
<!--                </span>-->
<!--            </div>-->

<!--            <div class="col-md-2">-->
<!--                <span>Decay</span>-->
<!--                <span>-->
<!--                    <input ng-model="config.heatmap.decay" step="1" type="number">-->
<!--                </span>-->
<!--            </div>-->

<!--            <div class="col-md-2">-->
<!--                <span>Radius</span>-->
<!--                <span>-->
<!--                    <input ng-model="config.heatmap.radius" step="1" type="number">-->
<!--                </span>-->
<!--            </div>-->

<!--            <div class="col-md-2">-->
<!--                <span>Blur</span>-->
<!--                <span>-->
<!--                    <input ng-model="config.heatmap.blur" step="1" type="number">-->
<!--                </span>-->
<!--            </div>-->

<!--            &lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
<!--            &lt;!&ndash;<span>Timeline Duration</span>&ndash;&gt;-->
<!--            &lt;!&ndash;<span>&ndash;&gt;-->
<!--            &lt;!&ndash;<input ng-model="timelineDuration" step="100" type="number">&ndash;&gt;-->
<!--            &lt;!&ndash;</span>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--        &lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
<!--        &lt;!&ndash;<span>Threshold</span>&ndash;&gt;-->
<!--        &lt;!&ndash;<span>&ndash;&gt;-->
<!--        &lt;!&ndash;<input ng-model="config.scoreThresh" step="0.1" min="0" max="1" type="number">&ndash;&gt;-->
<!--        &lt;!&ndash;</span>&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->

<!--        &lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-1">&ndash;&gt;-->
<!--&lt;!&ndash;                <span>Place Type</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <label><input type="checkbox" ng-model="config.filter.pubs"> pubs</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <label><input type="checkbox" ng-model="config.filter.places"> places</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="col-md-2">&ndash;&gt;-->
<!--&lt;!&ndash;                <span>Crime Type</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div ng-repeat="cat in offences.cats | toArray | orderBy:'$key' ">&ndash;&gt;-->
<!--&lt;!&ndash;                        <label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="checkbox"&ndash;&gt;-->
<!--&lt;!&ndash;                                   inverted-checkbox="cat.$key"&ndash;&gt;-->
<!--&lt;!&ndash;                                   inverted-checkbox-model="config.filter.cat"&ndash;&gt;-->
<!--&lt;!&ndash;                                   inverted-checkbox-change="persistConfig"&ndash;&gt;-->
<!--&lt;!&ndash;                            > {{cat.$key}}&ndash;&gt;-->
<!--&lt;!&ndash;                        </label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="col-md-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <span>Annotation</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div ng-repeat="anno in config.annotationKeys">&ndash;&gt;-->
<!--&lt;!&ndash;                        <label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span ng-if="keys[anno].type.class == 'java.lang.String' || keys[anno].type.class == 'uk.ac.susx.tag.method51.twitter.LabelDecision' ">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="checkbox"&ndash;&gt;-->
<!--&lt;!&ndash;                                       inverted-checkbox="anno"&ndash;&gt;-->
<!--&lt;!&ndash;                                       inverted-checkbox-model="config.filter.annotations"&ndash;&gt;-->
<!--&lt;!&ndash;                                       inverted-checkbox-change="persistConfig"&ndash;&gt;-->
<!--&lt;!&ndash;                                >&ndash;&gt;-->
<!--&lt;!&ndash;                            </span>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span ng-if="keys[anno].type.class == 'java.lang.Double'">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="number" ng-model="config.filter.annotations[anno]" min="0" max="1" step="0.01" style="width:50px">&ndash;&gt;-->
<!--&lt;!&ndash;                            </span>&ndash;&gt;-->

<!--&lt;!&ndash;                            {{anno}}&ndash;&gt;-->
<!--&lt;!&ndash;                        </label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--            &lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
<!--            &lt;!&ndash;<span>Crime Sub Type</span>&ndash;&gt;-->
<!--            &lt;!&ndash;<span  >&ndash;&gt;-->
<!--            &lt;!&ndash;<div style="max-height:400px;overflow:scroll;">&ndash;&gt;-->
<!--            &lt;!&ndash;<div ng-repeat="subCat in offences.subCats | toArray | orderBy:'cat' ">&ndash;&gt;-->
<!--            &lt;!&ndash;<input&ndash;&gt;-->
<!--            &lt;!&ndash;inverted-checkbox="subCat.$key"&ndash;&gt;-->
<!--            &lt;!&ndash;inverted-checkbox-model="config.filter.subCat"&ndash;&gt;-->
<!--            &lt;!&ndash;inverted-checkbox-change="persistConfig"&ndash;&gt;-->
<!--            &lt;!&ndash;type="checkbox"&ndash;&gt;-->
<!--            &lt;!&ndash;&gt; {{subCat.cat}} - {{subCat.$key}}&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;</span>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->

<!--        </div>-->


        <div class="row" >

            <div class="map col-md-10">
                <span ng-show="loadingData" class="flashing">LOADING DATA</span>
                <span ng-show="loadingAnnotations" class="flashing">LOADING ANNOTATIONS</span>
                <span ng-show="loadingPubs" class="flashing">LOADING PUBS</span>


                <leaflet
                        width="800px"
                        height="800px"
                        center="$ctrl.leafletMap.center"
                        tiles="$ctrl.leafletMap.tiles"
                        defaults="$ctrl.leafletMap.defaults"
                        markers="$ctrl.leafletMap.markers"
                        geojson="$ctrl.leafletMap.geojson"
                        layers="$ctrl.leafletMap.layers"
                ></leaflet>

                <button ng-click="changeTiles('oldlondon')" class="btn btn-default">Old London</button>
                <button ng-click="changeTiles('openstreetmap')" class="btn btn-default">Open Street Maps</button>

                <input ng-model="query" type="text" />
                <button ng-click="search(query)" class="btn btn-default">Search</button>
                <button ng-click="extract(query)" class="btn btn-default">Extract</button>
                <button ng-click="getAll()" class="btn btn-default">Get All</button>

            </div>

            <div class="col-md-2 trials">
                <div ng-repeat="trial in trials"><button class="btn btn-primary btn-xs" ng-click="selectTrial(trial.id)" >{{trial.id}}</button></div>
            </div>

            <!--<div>-->
            <!--{{selectedMarker}}-->
            <!--</div>-->
        </div>

        <div class="row">

            <div class="trial col-md-12">
                <p ng-repeat="sentence in selectedTrial.data track by $index">
                <span
                        ng-repeat="token in sentence.tokens track by $index"
                        ng-class="{ matchedPlace: selectedTrial.matchedPlaceMap[$parent.$index][$index], unmatchedPlace: selectedTrial.unmatchedPlaceMap[$parent.$index][$index], matchedPub: selectedTrial.matchedPubMap[$parent.$index][$index], unmatchedPub: selectedTrial.unmatchedPubMap[$parent.$index][$index] }"
                >
                    {{token}}
                </span>
                </p>
            </div>
        </div>

        <!--<div class="col-md-4">-->
        <!--<div ng-repeat="match in matches">-->
        <!--{{match}}-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>

