<div class="row">

    <form class="form-horizontal col-sm-12">

        <div class="form-group form-group-sm">
            <label class="control-label" for="queryName">Query Name</label>
            <input class="form-control input-sm" type="text" id="queryName" ng-model="$ctrl.queryId">

            <label class="control-label" for="queryVer">Version</label>
            <div class="input-group">
                <div class="input-group-addon btn btn-default"
                     ng-click="undo()">Back</div>
                <input class="form-control input-sm" type="number" step="1" max="0" id="queryVer"
                        ng-model="queryVer"
                        ng-change="changeVer()">
                <div class="input-group-addon btn btn-default"
                    ng-click="redo()"
                    ng-disabled="queryVer == 0">Fwd</div>
            </div>

            <label class="control-label" for="table" >Table</label>
            <select class="form-control input-sm" id="table"
                    ng-model="$ctrl.query.table"
                    ng-options="table for table in $ctrl.tables"
                    ng-change="reload()">
            </select>


            <label class="control-label" >Literals</label>

            <literals literals="$ctrl.query.literals" keys="$ctrl.keys"></literals>


            <div ng-if="$ctrl.query._TYPE=='proxy'">
                <div class="section">
                    <label class="control-label" >Table Where</label>
                    <div>
                        <input class="form-control" type="text"
                               ng-model="$ctrl.query.tableWhere">
                    </div>
                </div>

                <div class="section">

                    <label class="control-label" >Target</label>
                    <input class="form-control" type="text" ng-model="$ctrl.query.target">

                    <label class=" control-label">Proxy</label>
                    <input class="form-control" type="text" ng-model="$ctrl.query.proxy">

                    <label class=" control-label">Partition Key</label>
                    <key keys="$ctrl.keys" ng-model="$ctrl.query.partitionKey"></key>

                    <label class=" control-label">Order By</label>
                    <key keys="$ctrl.keys" ng-model="$ctrl.query.orderBy.key"></key>

                    <label class=" control-label">Proximity</label>
                    <input type="number" step="1" min="1" class="form-control" ng-model="$ctrl.query.proximity">
                </div>

                <button type="button" class='btn btn-default ' ng-click="addProxy()">Save</button>
            </div>


            <div ng-if="$ctrl.query._TYPE=='select'">
                <div class="section">

                    <label class="control-label">Order By</label>
                    <div ng-repeat="ob in $ctrl.query.orderBy" >
                        <key keys="$ctrl.keys" ng-model="ob.key"></key>
                        <span><a href ng-click="$ctrl.query.orderBy.splice($index,1)">-</a></span>
                    </div>

                    <div><a href ng-click="$ctrl.query.orderBy.push({})">+</a></div>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-checked="!!$ctrl.query.partition" ng-click="$ctrl.partitionSelect()">
                        Partition
                    </label>
                </div>

                <div ng-if="$ctrl.query.partition" class="section">

                    <label class="control-label">Partition Key</label>
                    <key keys="$ctrl.keys" ng-model="$ctrl.query.partition.partitionKey"></key>


                    <label class="control-label">Function</label>
                    <select class="form-control"
                            ng-model="$ctrl.query.partition.function">
                        <option value="ROW_NUMBER">Row Number</option>
                    </select>

                </div>

                <div class="section">

                    <label class="control-label">Filter</label>
                    <input type="text" class="form-control" ng-model="$ctrl.query.filter">
                </div>

                <button type="button" class='btn btn-default ' ng-click="addSelect()">Save</button>
            </div>
            <input type="number" class="form-control" ng-model="$ctrl.sampleSize">
            <button type="button" class='btn btn-default ' ng-click="$ctrl.execute($ctrl.sampleSize)" >Sample</button>

        </div>
    </form>



</div>