<div>

    <div class="btn-group">
        <label class="btn btn-primary"
               ng-repeat="key in keyList"
               ng-model="selectedKeys[key]"
               uib-btn-checkbox>{{key}}
        </label>
    </div>

    <div ng-repeat="result in $ctrl.result" class="row">

        <div class="col-md-1">{{result.id}}</div>

        <row data="result.data"
             selected-keys="selectedKeys"
             widths="widths"
             key-list="keyList"
             keys="$ctrl.keys"
        ></row>

    </div>

</div>