<div>

    <div class="btn-group">
        <label class="btn btn-primary"
               ng-repeat="key in keyList"
               ng-model="selectedKeys[key]"
               uib-btn-checkbox>{{key}}
        </label>
    </div>

    <div>{{totalPages()}}</div>
    <div uib-pagination
            ng-change="pageChange()"
            ng-model="currentPage"
            total-items="totalPages()"
            items-per-page="numPerPage"
            max-size="10"
            boundary-links="true">
    </div>

    <div ng-repeat="datum in page" class="row">

        <!--<div class="col-md-1">{{result.id}}</div>-->

        <row datum="datum"
             selected-keys="selectedKeys"
             widths="widths"
             key-list="keyList"
             keys="$ctrl.keys"
        ></row>

    </div>

</div>