<div>

    <div class="btn-group">
        <label class="btn btn-primary"
               ng-repeat="key in keyList"
               ng-model="selectedKeys[key]"
               uib-btn-checkbox>
            {{key}}
        </label>
    </div>

    <div>{{totalPages()}}</div>
    <div uib-pagination
            ng-change="pageChange()"
            ng-model="currentPage"
            total-items="totalPages()"
            items-per-page="numPerPage"
            max-size="10"
            boundary-links="true">
    </div>

    <div ui-grid="$ctrl.gridOptions"
         class="results-table"
         ui-grid-auto-resize
         ui-grid-resize-columns></div>

    <!--<div ng-repeat="datum in page" class="row">-->

        <!--&lt;!&ndash;<div class="col-md-1">{{result.id}}</div>&ndash;&gt;-->

        <!--<row datum="datum"-->
             <!--selected-keys="selectedKeys"-->
             <!--widths="widths"-->
             <!--key-list="keyList"-->
             <!--keys="$ctrl.keys"-->
        <!--&gt;</row>-->

    <!--</div>-->

    <script type="text/ng-template" id="cell.html">
        <div class="ui-grid-cell-contents">
            <div ng-if="COL_FIELD.type=='spans'">
                <div>
                    <span-text spanss="COL_FIELD"> </span-text>
                </div>
            </div>

            <div ng-if="COL_FIELD.type!='spans'" >
                {{COL_FIELD.text}}
            </div>
        </div>
    </script>
</div>