
<div ng-repeat="key in $ctrl.keyList" ng-if="$ctrl.selectedKeys[key]" >

    <div ng-if="type(key)==STRING">

        <div ng-if="targets[key]" class="col-md-10">
            <span-text spanss="targets[key]"
                       text="$ctrl.data[key]"
                       display-keys="$ctrl.selectedKeys">
            </span-text>
        </div>

        <div ng-if="type(key)==STRING && !targets[key]" class="col-md-10">
            {{$ctrl.data[key]}}
        </div>

    </div>

    <div ng-if="type(key)==LABEL" class="col-md-1">
        {{$ctrl.data[key].label}}
    </div>

</div>

