.ui-grid-viewport .ui-grid-cell-contents {
  /*word-wrap: break-word;*/
  white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex;
  align-content: stretch;
}

.results-table {
    height: 500px;
}

.span-begin, .span-end {
    font-weight:bold;
}

.span:hover {
    opacity: 100%;
    cursor: pointer;
}

.token:hover {
    opacity: 100%;
    cursor: pointer;
}

.token {
    opacity: 80%;
}


.span {
    opacity: 50%;
}

.leaflet-bottom.leaflet-left{
    width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.section {
    border:1px dashed;
    padding:2px;
    margin: 2px;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

