.ui-grid-viewport .ui-grid-cell-contents {
  /*word-wrap: break-word;*/
  white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex;
  align-content: stretch;
}

.results-table {
    height: 500px;
}

.span-begin, .span-end {
    font-weight:bold;
}


.leaflet-bottom.leaflet-left{
    width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.section {
    border:1px dashed;
    padding:2px;
    margin-bottom: 2px;
}